{{#each this}}
<li class="home-list-card">
    <img class="home-list-img" src="https://image.tmdb.org/t/p/w342{{poster_path}}" alt="movie picture"
        data-id="{{id}}" />
    <p class="home-card-title">{{original_title}}</p>
    <div class="card-list">
        <p class="home-card-Ñategory">
            {{#each genres}}
            {{this.name}}
            {{/each}}

            | {{release_date}}</p>
        <p class="home-card-rating">{{vote_average}}</p>
    </div>
</li>
{{/each}}